/*--------------------------------------------------------------
# body
--------------------------------------------------------------*/
html {
	font-size: 10px;
	font-family: sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::before, ::after{
	box-sizing: border-box;
}
	
body{
	min-width: 360px;
	font-family: "microsoft yahei";
	color: #454545;
	
	font-size: 14px;
	line-height: 1.4;

	
	margin: 0px;
	
	box-sizing: border-box;
}
/*--------------------------------------------------------------
# before & after
--------------------------------------------------------------*/

.container:after,
.container-fluid:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,{
  clear: both;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after, {
  content: " ";
  display: table;
}
/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar {
	padding:0;
  position: relative;
  min-height: 50px;
  
  border: 1px solid transparent;
}	
.navbar-inverse{
	background-color: #222222;
	border-color: #000000;
}
.navbar-fixed-top{
	top:0;
	border-width:0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom{border-radius: 0;}

.navbar-fixed-top,
.navbar-fixed-bottom {

  right: 0;
  left: 0;
  z-index: 1030;
}

  .navbar-header {
    float: left;
  }

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}


.navbar-collapse {
		flex-basis: auto;
	width: auto;
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-collapse.collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}
.navbar-collapse>ul>li{
	width:80px;
	text-align:center;
}
 .navbar-nav-ubi2015 {
	float:none;
	width:420px;
	margin:0 auto;
}




  .navbar-nav {
	 flex-direction: inherit;
	 padding:0;
    float: right;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}

header,
main,
nav{
  display: block;
}


/*--------------------------------------------------------------
# nav
--------------------------------------------------------------*/
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
#nav-search{
	position:absolute;
	right:0;
	top:0;
}
#nav-search .uplay{
	height:50px;
	display:inline-block;
	padding:5px 10px;
	
	vertical-align: middle;
	transform: skew(-15deg) translateZ(0);
}
img {
	vertical-align: middle;
	border: 0;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
 /* padding: 10px 15px; */
}
#nav-search .uplay img{
	width: auto;
	padding-top:9px;
	transform: skew(15deg) translateZ(0);
}

#nav-search .nav-search-container{
	display: inline-block;
	vertical-align: middle;
}
#nav-search a.action{
	height:50px;
	display:block;
	opacity: 0.8;
	color:#fff;
	font-size:18px;
	line-height:50px;
}


/*--------------------------------------------------------------
# container
--------------------------------------------------------------*/
.container-fluid{
	padding-right: 15px;
	padding-left: 15px;

	margin-right: auto;
	margin-left: auto;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-right: 0;
	margin-left: 0;
}

/*--------------------------------------------------------------
# logo
--------------------------------------------------------------*/
.logo {
	width:247px;
	height:50px;

	display:block
}

/*--------------------------------------------------------------
# text
--------------------------------------------------------------*/
a{ 
	font-family: "Microsoft YaHei";
	background-color: transparent;

}
a,a:focus,a:active{
	color:#9d9d9d;
	text-decoration:none
}



